
<div class="container-align-center">

  <form [formGroup]="loginForm" (ngSubmit)="loginTriggered()" class="centered-form">
    <mat-form-field appearance="fill" class="m-3">
      <mat-label>Username</mat-label>
      <input matInput placeholder="username" formControlName="username" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" class="example-right-align" formControlName="password">
    </mat-form-field>

    <div class="bottom-buttons">
      <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Login</button>
      <button mat-raised-button color="primary" (click)="register()">Register</button>
    </div>
  </form>
</div>
